<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Pengguna yang tidak follow back:</h2>
        <ul>
            {% for user in not_following_back %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
