<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pengguna yang Tidak Follow Back</h1>

    {% if not_following_back %}
        <ul>
        {% for user in not_following_back %}
            <li>{{ user }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Tidak ada pengguna yang tidak follow back.</p>
    {% endif %}

</body>
</html>
