<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Masukkan OTP</h2>
    <form method="POST">
        <label for="otp">Kode OTP:</label>
        <input type="text" name="otp" required><br><br>
        <button type="submit">Verifikasi</button>
    </form>
</body>
</html>




